* {margin:0; padding:0; list-style:none;}

.wraprer {}
.side {position:absolute; left:0; top:0; width:200px; height:100%; background-color:#ddd;}
.side .tagList {padding:20px;}
.side .tagList li {height:30px; line-height:30px;}
.side .tagList li a {color:#aaa; text-decoration:none;}
.side .tagList li a.selected {color:#555;}
.container {position:absolute; left:200px; top:0; width:100%; padding:20px; overflow:scroll;}
.header {height:50px; border-bottom:2px solid #ddd;}
.content {}